html {
	height: 100%;
}

body {
  background-color: #FFFFFF;
  background-image: url("/images/fondocielo.png");
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, Verdana;
  font-size: 14px;
  height: 100%
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.left {
	float:left;
}

.right {
	float:right;
}

#main_container {
	min-height: 100%;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: -343px;
	background-image: url("/images/nubes.png");
	background-repeat: no-repeat;
}

#sub_container {
	width: 811px;
	margin: 0 auto;
	min-height: 100%;
}

#sub_content {
	width: 86.3%;
	min-height: 100%;
	margin: 0 auto;
	padding: 30px 40px 30px 40px;
	background-color: #FFFFFF;
	-webkit-border-bottom-right-radius: 9px;	/* for Safari */
	-moz-border-radius-bottomright: 9px;			/* for Firefox */
	-webkit-border-bottom-left-radius: 9px;		/* for Safari */
	-moz-border-radius-bottomleft: 9px;			/* for Firefox */
	border-color: #E6E6E6;
	border-style: solid;
	border-width: 5px 0px 0px;
} 

#sub_content h2 {
	font-size: 22px;
	color: #333333;
}

#sub_content #search h2 {
	font-size: 20px;
	color: #333333;
}

#signin {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 20px;
}

#header {
 -webkit-border-top-right-radius: 9px;    /* for Safari */
 -moz-border-radius-topright: 9px;       /* for Firefox */
 -webkit-border-top-left-radius: 9px;    /* for Safari */
 -moz-border-radius-topleft: 9px;       /* for Firefox */
	background-image: url("/images/fondoheader.png");
	width: 811px;
	height: 114px;
	position: relative;
}

#left_header {
	background-image: url("/images/doblezizq.png") no-repeat;
	position: absolute;
	width: 16px;
	top: 0;
	left: 0;
}

#right_header {
	background-image: url("/images/doblezizq.png") no-repeat;
	position: absolute;
	width: 16px;
	top: 0;
	right: 0;
}

#signup {
	padding-right: 5px;
}

#login {
	padding-right: 30px;
}

.options {
	position: relative;
	bottom: -4px;
}

.logomarca {
	position: relative;
	left: 69px;
	margin-top: -21px;
}

#search {
	position: relative;
	left: 150px;
}

.searchbtn {
	margin-top: -5.5px;
	float:clear;	
}

#footer {
	width: 1244px;
	height: 343px;
	margin: 0 auto;
	position: relative;
}

#footer #city {
	margin-top: 20px;
}

#footer #info {
	background-color: #335533;
	padding-left: 250px;
	margin-top: -3px;
	padding-top: 20px;
	height: 25px;
}

#footer a{
	color: #FFFFFF;
	text-decoration: none;
}

.clearfooter {
   height: 343px;
   clear: both;
}

/* Index Company. */
#company_list {
	margin-top: 30px;
}

#company_list h2 {
	margin-left: 25px;
	padding-top: 10px;
}

#company_list a {
	text-decoration: none;
	color: green;
}

#company_list span {
	color: #DDDDDD;
  font-weight: bold;
}

#company_list .info {
	padding-left: 30px;
	float:left;
}

#company_list #company_logo {
	float: right;
	margin-top: -60px;
}

#company_list #division {
	margin-bottom: -10px;
}

/* Show Company */
#company_details {
	color: #666666;
	font-size: 15px;
}

#company_details span {
	color: #333333;
  font-weight: bold;
  font-size: 16px;
}

#company_complex ul li {
	margin-bottom: -10px;
}

#company_details #company_name {
	border-bottom: 1px solid #CCCCCC;
	height: 100px;
	margin-top: 40px;
}

#company_details #company_name img {
	padding-top: 25px;
}

#company_details #company_name h1 {
	color: #333333;
	margin-left: 50px;
	padding-top: 25px;
}

#company_details #company_logo {
	margin-top: -120px;
}

#company_details #company_tools ul li span {
	color: #666666;
	font-weight:normal;
	font-size: 15px;
}

#company_details_left {
	width: 320px;
	margin-top: 20px;
	border-right: 1px solid #CCCCCC;
}

#company_details_right {
	width: 300px;
	position: relative;
	right: 30px;
	margin-top: 20px;
}

#company_details #company_experience #experience {
	min-width: 150px;
}

#company_details #company_experience table {
	border-top: 1px solid #CCCCCC;
	margin-top: 10px;
}

#company_details .detail {
	padding-bottom: 15px;
}

#company_experience {	
}

/* Edit & Register Compay */
#register_form h1 {
	font-size: 22px;
	color: #333333;
}

#register_form {
	margin-top: 50px;
}

#register_form .label {
	font-size: 18px;
	padding-left: 60px;	
}

#register_form .text_field {
	font-size: 24px;
	height: 30px;
	width: 400px;
	margin-bottom: 5px ;
	margin-top: 5px ;
	margin-left: 80px;
	padding-left: 0px;
}

#register_form .text_area {
	height: 100px;
	width: 300px;
	margin-bottom: 10px ;
	margin-top: 5px ;
	margin-left: 80px;
}

#register_form .checkbox {
	margin-bottom: 10px ;
	margin-top: 5px ;
	margin-left: 80px;	
}

#register_form select {
	margin-bottom: 10px ;
	margin-top: 5px ;
	margin-left: 80px;
	background-color: #FFFFFF;
	height: 30px;
}

#register_form .next {
	position: relative;
	left: 500px;
}

#register_form .cancel {
	position: relative;
	left: 500px;
	bottom: 20px;
}

#register_form .logo {
	padding-left: 80px;
}

#register_form h2 {
	font-size: 20px;
	margin-left: 50px;
	margin-top: -30px;	
	margin-bottom: 30px;
}

#casita {
	background: url("/images/lilhouse.png") no-repeat;
	height: 40px;
}

/* Search Company */
.search_admin {
	float: right;
	position: relative;
	bottom: 20px;
}

#search_right {
	margin-right: 100px;
}

#search_submit {
	margin-top: 20px;
}

/* Show User */

#user_details .property {
	color: #666666;
  font-weight: bold;
}

#user_details #user_companies {
	max-width: 400px;
}

#user_details #user_companies #name a {
  font-size: 1.2em;
  font-weight: bold;
	text-decoration: none;
	color:green;
}

#user_details #user_companies #delete a {
	text-decoration: none;
	font-size: 8pt;
	padding-left: 15px;
}

#user_details #user_companies #description {
  color: black;
  font-weight: normal;
	font-style: italic;
}

.rest_in_place:hover {
	background: #CCCCFF;	
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


/* Login Dropdown */
#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
    background-color:#FFFF99;
    position:absolute;
    width:233px;
    height: 135px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 22px; 
    right: 0px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#666666;
    font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    width:203px;
    height: 22px;
}
	
#signin_menu label {
	font-weight:normal;
	font-size: 11px;
	color: #333333;
}

#signin_menu p {
	margin-top: -1px;
}

#signin_menu #loginbtn {
	text-align: right;	
}

#signin_menu #loginbtn span {
	position: relative;
	margin-right: 20px;
	bottom: 10px;
}

#signin_menu #loginbtn a {
	color: #333333;
}
