html {
	height: 100%;
}

body {
  background-color: #DAF7FF;
  background-image: url("/images/fondocielo.png");
  background-repeat: repeat-x;
  font-family: Arial, Helvetica, Verdana;
  font-size: 14px;
  height: 100%
}

a img {
  border: none;
}

a {
  color: #4E7474;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.left {
	float:left;
}

.right {
	float:right;
}

#main_container {
	min-height: 100%;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  margin-bottom: -417px;
	background-image: url("/images/nubes.png");
	background-repeat: no-repeat;
}

#sub_container {
	width: 811px;
	margin: 0 auto;
	min-height: 100%;
}

#sub_content {
	width: 86.3%;
	min-height: 100%;
	margin: 0 auto;
	padding: 30px 40px 30px 40px;
	background-color: #FFFFFF;
	-webkit-border-bottom-right-radius: 9px;	/* for Safari */
	-moz-border-radius-bottomright: 9px;			/* for Firefox */
	-webkit-border-bottom-left-radius: 9px;		/* for Safari */
	-moz-border-radius-bottomleft: 9px;			/* for Firefox */
	border-color: #8ED3E4;
	border-top-color: #E6E6E6;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
} 

#sub_content h2 {
	font-size: 22px;
	color: #333333;
}

#sub_content #search h2 {
	font-size: 20px;
	color: #333333;
}

#signin {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 20px;
}

#signin img {
	margin-left: 5px;
	margin-bottom: -5px;
}

#header {
 -webkit-border-top-right-radius: 9px;    /* for Safari */
 -moz-border-radius-topright: 9px;       /* for Firefox */
 -webkit-border-top-left-radius: 9px;    /* for Safari */
 -moz-border-radius-topleft: 9px;       /* for Firefox */
	background-image: url("/images/fondoheader.png");
	width: 811px;
	height: 114px;
	position: relative;
}

#left_header {
	background-image: url("/images/doblezizq.png") no-repeat;
	position: absolute;
	width: 16px;
	top: 0;
	left: 0;
}

#right_header {
	background-image: url("/images/doblezizq.png") no-repeat;
	position: absolute;
	width: 16px;
	top: 0;
	right: 0;
}

#signup {
	padding-right: 5px;
}

#login {
	padding-right: 30px;
}

.options {
	position: relative;
	bottom: -4px;
}

.logomarca {
	position: relative;
	left: 69px;
	margin-top: -21px;
}

#search {
	position: relative;
	left: 150px;
}

#advanced_search {
	display: none;
	position: absolute;
	width: 500px;
	height: 93px;
	padding: 1px;
	padding-left: 5px;
	background: url(/images/advanced_search.png) no-repeat;	
	top: 135px;
	left: -50px;
	z-index: 1;	
}

#advanced_search table  {
	margin-top: -15px;
	margin-left: 50px;
}

#advanced_search table tr {
	float:left;
	max-height: 30px;
	width: 140px;
}

#advanced_link {
	position: absolute;	
	margin-top: 65px;
	margin-left: 55px;
	color: black;
	font-size: 12px;
}

.searchbtn {
	margin-top: -5px;
}

#about h2 {
	background: url(/images/lilhouse.png) no-repeat;
	height: 40px;
	padding-top: 5px;
	padding-left: 45px;	
}

#about span {
	background: #006633;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
}

#about #about_top {
	border-bottom: 1px solid #CCCCCC;
}

#about #about_what {
	width: 240px;
	border-right: 1px solid #CCCCCC;
	padding-top: 20px;
}

#about #about_how {
	width: 400px;
	padding-top: 20px;	
}

#about #about_suggest {
	border-top: 1px solid #CCCCCC;
	padding-top: 20px;
}

#about ul li {
	list-style-image: url(/images/ok.png);
}

#footer {
	width: 1286px;
	height: 417px;
	margin: 0 auto;
	position: relative;
}

#footer #city {
	background: url("/images/ciudad.png") no-repeat;
	min-height: 372px;
}

#footer #info {
	background-color: #335533;
	padding-left: 250px;
	margin-top: -8px;
	padding-top: 15px;
	height: 30px;
}

#footer a{
	color: #FFFFFF;
	text-decoration: none;
}

.clearfooter {
   height: 417px;
   clear: both;
}

/* Index Company. */
#company_list {
	margin-top: 20px;
	border: 4px solid #999999;
	border-bottom: none;
	padding: 5px;
}

#company_list h2 {
	font-size: 25px;
	margin-left: 25px;
	padding-top: 5px;
}

#company_list a {
	text-decoration: underline;
	color: #333333;
}

#company_list a:hover {
	text-decoration: underline;
	color: #3DB8B8;
}

#company_list span {
	color: #999999;
  font-weight: bold;
  font-size: 13px;
}

#company_list .info {
	padding-left: 30px;
	float:left;
	font-size: 15px;
	color: #333333;
}

#company_list #company_logo {
	float: right;
	margin-top: -60px;
}

#company_list #division {
	margin-bottom: -10px;
	margin-left: -26px;
}

/* Show Company */
#company_details {
	color: #666666;
	font-size: 15px;
}

#company_details .detail_name {
	color: #333333;
	padding: 5px;
  font-weight: bold;
  font-size: 16px;
  background: url("/images/detailnamebg.png") no-repeat;
  width: 252px;
  height: 29px;
}

#company_details #company_complex ul {
	margin: 0;
}

#company_details #company_name {
	border-bottom: 1px solid #CCCCCC;
	height: 100%;
	margin-top: 20px;
}

#company_details #company_name h1 {
	color: #333333;
	padding-top: 8px
}

#company_details #company_name #edit {
	background: url("/images/edit.png") no-repeat;
	position: relative;
	padding: 2px 2px 2px 25px;
	top: 38px;
	left: 30px;
	height: 21px;
}

#company_details #company_description {
	margin-top: -10px;
	max-width: 450px;
}

#company_details #company_name img {
	float:left;
	padding-top: 25px
}

#company_details #company_logo {
	margin-top: -130px;
}

#company_details #go_back {
	position:relative;
	background: url("/images/back.png") no-repeat;
	padding: 2px 2px 2px 25px;
	margin-left: 550px;
}

#company_details #go_back a {
	color: #8BB18B;
}

#company_details #company_tools ul {
	margin: 0;
}

#company_details_left {
	width: 280px;
	margin-top: 20px;
	border-right: 1px solid #CCCCCC;
}

#company_details_right {
	width: 300px;
	position: relative;
	right: 80px;
	margin-top: 20px;
}

/* Experience Name */
#company_details #company_experience #experience {
	min-width: 150px;
	text-decoration: underline;
}

#company_details #company_experience table {
	width: 350px;
}

#company_details #company_experience table th {
	background: #FFE7E0;
	padding: 5px;
	text-align:left;
}

#company_details #company_experience #title {
	background: #D65756;
	text-align:center;
	padding-bottom: 13px;
	color: white;
}

#company_details #company_experience #titlel {
	background: #D65756 url("/images/tlcorner.png") no-repeat -1px -1px;
}

#company_details #company_experience #titler {
	background: #D65756 url("/images/trcorner.png") no-repeat 101% -1px;
}

#company_details #company_experience #datal {
	background: #FFFFD6 url("/images/brcorner.png") no-repeat -1px -1px;
}

#company_details #company_experience #datar {
	background: #FFFFD6 url("/images/blcorner.png") no-repeat 101% -1px;
}

#company_details #company_experience table td {
	padding: 5px;
}

#company_details #company_experience table tr:nth-child(even) {
	background: #FFFFD6;		
}
#company_details #company_experience table tr:nth-child(odd) {
	background: #FFFFD6;
}

#company_details .detail {
	padding-bottom: 15px;
}

#company_details .options {
	bottom: 0;
	font-size: 10px;
	font-style: italic;
}

/* Edit & Register Compay */
#register_form h1 {
	font-size: 22px;
	color: #333333;
}

#register_form {
	margin-top: 50px;
}

#register_form table {
	width: 700px;
}

#register_form table td {
	width: 350px;
}

#register_form .label {
	font-size: 18px;
	padding-left: 60px;	
}

#register_form .text_field {
	font-size: 24px;
	height: 30px;
	width: 400px;
	margin-bottom: 5px ;
	margin-top: 5px;
}

#register_form .text_area {
	height: 80px;
	width: 400px;
	margin-bottom: 10px ;
	margin-top: 5px ;
}

#register_form .checkbox {
	margin-bottom: 10px ;
	margin-top: 5px ;
	margin-left: 70px;
}

#register_form select {
	margin-bottom: 10px ;
	margin-top: 5px ;
	background-color: #FFFFFF;
	height: 30px;
}

#register_form .next {
	margin-left: 60px;
}

#register_form .cancel {
	position: relative;
	bottom: 20px;
}

#register_form .logo {
	padding-left: 80px;
}

#register_form h2 {
	font-size: 20px;
	margin-left: 50px;
	padding-left: 45px;
	padding-top: 10px;
}

#register_form #casita1 {
	background: url("/images/casa1.png") no-repeat;
	height: 40px;
}

#register_form #casita2 {
	background: url("/images/casa2.png") no-repeat;
	height: 40px;
}

#register_form #example {
	font-style: italic;
	font-size: 10px;
	padding-bottom: 10px;
}

#register_form #complex_types table tr {
	float:left;
	max-width: 180px;
}

#register_form .other_tool_link {
	padding-left: 60px;
}

#register_form #other_tool .text_field {
	font-size: 20px;
	height: 20px;
	width: 150px;
	margin-bottom: 0px ;
	margin-top: 0px;
}

#register_form #other_tool .label {
	font-size: 14px;
	padding-left: 60px;	
}

#casita {
	background: url("/images/lilhouse.png") no-repeat;
	height: 40px;
}

/* Search Company */
.search_admin {
	float: right;
	position: relative;
	bottom: 20px;
}

#search_right {
	margin-right: 100px;
}

#search_submit {
	margin-top: 20px;
}

/* Show User */

#user_details .property {
	color: #666666;
  font-weight: bold;
}

#user_details #user_companies {
	max-width: 400px;
}

#user_details #user_companies #name a {
  font-size: 1.2em;
  font-weight: bold;
	text-decoration: none;
	color:green;
}

#user_details #user_companies #delete a {
	text-decoration: none;
	font-size: 8pt;
	padding-left: 15px;
}

#user_details #user_companies #description {
  color: black;
  font-weight: normal;
	font-style: italic;
}

.rest_in_place:hover {
	background: #CCCCFF;	
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 500px;
  border: 2px solid #999999;
  padding: 0px;
  margin: 0 auto;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 45px;
  font-size: 15px;
  margin: 0;
  background: url("/images/logoutbtn.png") no-repeat 15px 3px;
  background-color: #CC0033;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  margin-left: 15px;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style-image: circle;
}


/* Login Dropdown */
#signin_menu {
  -moz-border-radius-topleft:5px;
  -moz-border-radius-bottomleft:5px;
  -moz-border-radius-bottomright:5px;
  -webkit-border-top-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
  display:none;
  background-color:#FFFF99;
  position:absolute;
  width:233px;
  height: 135px;
  z-index:100;
  border:1px transparent;
  text-align:left;
  padding:12px;
  top: 22px; 
  right: 0px; 
  margin-top:5px;
  margin-right: 0px;
  *margin-right: -1px;
  color:#666666;
	font-size:11px;
}

#signin_menu input[type=text], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    width:203px;
    height: 22px;
}
	
#signin_menu label {
	font-weight:normal;
	font-size: 11px;
	color: #333333;
}

#signin_menu p {
	margin-top: -1px;
}

#signin_menu #loginbtn {
	text-align: right;	
}

#signin_menu #loginbtn span {
	position: relative;
	margin-right: 20px;
	bottom: 10px;
}

#signin_menu #loginbtn a {
	color: #333333;
}
