<div id="user_details">
<h2>Información de tu usuario</h2>

	<div class="left">
		<p>
			<span class="property">Nombre</span><br/>
			<%= current_user.name %>
		</p>
	
		<p>
			<span class="property">Correo electr&oacute;nico</span><br/>
			<%= current_user.email %>
		</p>
		
		<%= link_to "Editar Usuario", edit_user_path(@user) %>
		
	</div>	
	
	<div class="clear"></div>
</div>
