<h2>Información de tu usuario</h2>
<div class="division"></div>
<div id="user_details">
	<div class="left">
		<p>
			<div class="detail_name">Nombre</div>
			<%= current_user.name %>
		</p>
	
		<p>
			<div class="detail_name">Correo electr&oacute;nico</div>
			<%= current_user.email %>
		</p>
		
	</div>		
	<div class="clear"></div>
	<%= link_to "Editar Usuario", edit_user_path(@user) %>
</div>
