<div id="about">
	<h2>¿Quiénes Somos?</h2>	
	<div id="about_top">	
		<p>
			Administración de condominios es una herramienta creada para facilitar la búsqueda de personal que se pueda hacer cargo de un complejo de condominios, aquí encontraras sus datos de contacto para que puedas contactarlos en caso de que sean de tu agrado.
		</p>
	</div>
	
	<div id="about_what" class="left">
		<span>¿Qué hacemos?</span><br/>
		
		<ul>
			<li>Creamos un contacto rápido entre cliente y administrador</li>
			<li>Publicamos tus servicios para expandir tu negocio</li>
			<li>Manejamos tus datos de una manera segura</li>
			<li>Hacemos más ágil el ...</li>
		</ul>
		
	</div>
	<div id="about_how" class="right">
		<span>¿Cómo lo hacemos?</span><br/>
		<ul>
			<li>Creamos un contacto rápido entre cliente y administrador</li>
			<li>Publicamos tus servicios para expandir tu negocio</li>
			<li>Manejamos tus datos de una manera segura</li>
			<li>Hacemos más ágil el ...</li>
		</ul>
	</div>
	<div class="clear"></div>
	<div id="about_suggest">
		<span>¿Tienes alguna sugerencia?</span><br/>
		<%= link_to "Contáctanos", "/" %>
	</div>
</div>

